{% extends 'realEstate_web/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block body_class %}contact-page{% endblock %}

{% block content %}

<section class="contact-hero">
    <div class="contact-wrap">

        <div class="left-contact">
            <div class="contact-title">
                <h2>contact us</h2>
            </div>
            <div class="contact-info">
                <h3>telephone: </h3> <a href="tel:+9665726383764">+9665726383764</a>

                <h3>email: </h3> <a href="mailto:info@realestate.com">info@realestate.com</a>

                <h3>address: </h3>

                <div class="address-info">
                    <p>anas bin malik, riyadh<br>bulding 1-112<br>saudi arabia</p>
                </div>
            </div>
        </div>

        <div class="maps">
            <iframe
                src="https://www.google.com/maps/place/%D8%A8%D8%A7%D8%B1%D9%83+%D8%A7%D9%81%D9%86%D9%8A%D9%88%E2%80%AD/@24.8273124,46.7276293,17z/data=!3m1!4b1!4m6!3m5!1s0x3e2efc6d472d42af:0x24b3a53de9cbc5c3!8m2!3d24.8273124!4d46.7276293!16s%2Fg%2F11c1q5fj7s?entry=ttu&g_ep=EgoyMDI1MTEwMi4wIKXMDSoASAFQAw%3D%3D">
            </iframe>
        </div>
    </div>
</section>



{% endblock %}