{% extends 'realEstate_web/base.html' %}

{% block title %}properties{% endblock %}

{% block body_class %}properties-page{% endblock %}

{% block content %}

<div class="properties-wrap">
<div class="properties-cards">
    <h2>Our Properties</h2>

        <div class="villa-card">
            <div class="card-image">
                <img src="../static/images/villa1.jpg" alt="A modern villa with a pool at dusk">
            </div>
            <div class="card-content">
                <p class="card-title">VILLA MODERN IN MALQA</p>
                <button class="more-button">more</button>
            </div>
        </div>

        <div class="villa-card">
            <div class="card-image">
                <img src="../static/images/villa2.jpg" alt="A modern villa with a pool at dusk">
            </div>
            <div class="card-content">
                <p class="card-title">GREAT HOME FOR YOU IN RIMAL</p>
                <button class="more-button">more</button>
            </div>
        </div>

        <div class="villa-card">
            <div class="card-image">
                <img src="../static/images/villa3.jpg" alt="A modern villa with a pool at dusk">
            </div>
            <div class="card-content">
                <p class="card-title">VILLA WITH 8 BEDROOMS IN SWEDEY</p>
                <button class="more-button">more</button>
            </div>
        </div>

        <div class="villa-card">
            <div class="card-image">
                <img src="../static/images/villa4.jpg" alt="A modern villa with a pool at dusk">
            </div>
            <div class="card-content">
                <p class="card-title">AMAZING VILLA</p>
                <button class="more-button">more</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}